body {
  background: #e0dde4;
}

#smooth-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.main {
  color: whitesmoke;
  max-width: 900px;
  margin: auto;
  padding-top: 150px;
}
@media (max-width: 1023px) {
  .main {
    margin: 20px;
  }
}
@media (max-width: 767px) {
  .main {
    max-width: 350px;
    margin: 15px;
  }
}

#about__container {
  z-index: 2;
}

#nav {
  position: fixed;
  z-index: 200;
  mix-blend-mode: difference;
}

#img_logo {
  margin-top: -0.5vw;
}
@media (max-width: 767px) {
  #img_logo {
    margin-top: -2vw;
  }
}

.menu-icon {
  justify-content: end;
  mix-blend-mode: difference;
  z-index: 200;
}

.menu-icon a {
  position: fixed;
}

.wrap {
  font-family: "Anton", sans-serif;
}

main p {
  font-family: sans-serif;
  font-size: 1.5vw;
}
@media (max-width: 1023px) {
  main p {
    font-size: 3.5vw;
  }
}
@media (max-width: 767px) {
  main p {
    font-size: 6vw;
  }
}

main .bold {
  font-size: 2vw;
  font-weight: bold;
}
@media (max-width: 1023px) {
  main .bold {
    font-size: 3.5vw;
  }
}
@media (max-width: 767px) {
  main .bold {
    font-size: 6.5vw;
  }
}

.spacer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .spacer__bottom {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.network {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  bottom: 0;
  font-size: 1.5vw;
  z-index: 2;
  position: relative;
}
@media (max-width: 1023px) {
  .network {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  .network {
    font-size: 8vw;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  ul {
    display: inline-block;
  }
}

li {
  font-family: "Anton", sans-serif;
  font-size: 1.5vw;
  margin-bottom: 3vw;
  transition: 0.5s ease-in;
}
@media (max-width: 1023px) {
  li {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  li {
    font-size: 5.5vw;
  }
}

li:hover {
  color: rgb(88, 88, 88);
}