body {
  background-color: #e0dde4;
}

.svg__logo {
  overflow: visible !important;
  max-width: 150vw;
  position: absolute;
  top: -10%;
  left: 43%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1023px) {
  .svg__logo {
    top: 0;
  }
}
@media (max-width: 767px) {
  .svg__logo {
    top: 5%;
  }
}

.header_logo {
  height: 10vh;
  left: 0.8vw;
}
@media (max-width: 767px) {
  .header_logo {
    height: 11vh;
    left: 0;
  }
}

.section_logo {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.section_logo svg {
  width: 60%;
}
@media (max-width: 1023px) {
  .section_logo svg {
    width: 80%;
    top: 20vw;
  }
}
@media (max-width: 767px) {
  .section_logo svg {
    width: 80%;
    top: 50vw;
  }
}

.scroll-letter {
  fill: #fff;
}

.scroll-drone {
  fill: #fff;
}

.line {
  fill: none;
}

#title {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.clip-text-video {
  position: relative;
}

video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}