/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  display: flex;
}

.logo {
  margin-left: 1vw;
}
@media (max-width: 1023px) {
  .logo {
    margin-left: 2vw;
    margin-top: 1vw;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-left: 4vw;
    margin-top: 3vw;
  }
}

.logo img {
  width: 38px;
  height: 38px;
  margin-top: 0.5vw;
}
@media (max-width: 767px) {
  .logo img {
    margin-top: 3vw;
  }
}

nav {
  display: flex;
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 1vw;
  z-index: 2;
  position: relative;
}
@media (max-width: 1023px) {
  nav {
    margin-right: 8vw;
    margin-top: 2vw;
  }
}
@media (max-width: 767px) {
  nav {
    margin-right: 17vw;
    margin-top: 5.5vw;
  }
}

@media (max-width: 1023px) {
  .nav__back {
    margin-right: 10vw;
  }
}
@media (max-width: 767px) {
  .nav__back {
    margin-right: 21vw;
  }
}

.wrap {
  font-family: "Anton", sans-serif;
  letter-spacing: 1.9px;
  color: whitesmoke;
  text-decoration: none;
  overflow-y: hidden;
  position: absolute;
  font-weight: bold;
  font-size: 1.2vw;
  width: 100px;
}
@media (max-width: 1023px) {
  .wrap {
    font-size: 2.5vw;
    width: 100px;
  }
}
@media (max-width: 767px) {
  .wrap {
    font-size: 5vw;
    width: 100px;
  }
}

.hover {
  color: whitesmoke;
}

/* Page transition */
#page-transition {
  position: relative;
  display: block;
  z-index: 800;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 1;
}

.preloader__transition {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  color: rgb(87, 87, 87);
  z-index: 2;
  transform: translate(-50%, -50%);
}

.button__box a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: whitesmoke;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  font-family: sans-serif;
  mix-blend-mode: difference;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1023px) {
  .button__box a {
    top: 50%;
  }
}
@media (max-width: 767px) {
  .button__box a {
    top: 50%;
  }
}

.button__box a:hover {
  background: whitesmoke;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke, 0 0 50px whitesmoke, 0 0 100px whitesmoke;
}

.button__box a span {
  position: absolute;
  display: block;
}

.button__box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, whitesmoke);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button__box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, whitesmoke);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button__box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, whitesmoke);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.button__box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, whitesmoke);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.cookie-popup {
  font-family: sans-serif;
  font-size: 0.9vw;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: -6.25rem;
  left: 1.25rem;
  right: 1.25rem;
  padding: 0.625rem 0.9375rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.15);
  line-height: 150%;
  transition: opacity 0.5s;
  opacity: 0;
  border-radius: 30px;
}
@media (max-width: 1023px) {
  .cookie-popup {
    max-width: 300px;
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .cookie-popup {
    max-width: 200px;
    font-size: 4vw;
  }
}

.cookie-popup--short {
  right: none;
  width: 21.875rem;
}

.cookie-popup--dark {
  background: whitesmoke;
  color: rgb(0, 0, 0);
}

.cookie-popup--not-accepted {
  opacity: 1;
  animation: cookie-popup-in 0.5s ease forwards;
}

.cookie-popup--accepted {
  opacity: 0;
}

.cookie-popup a {
  color: skyblue;
}

.cookie-popup a:visited {
  color: skyblue;
  text-decoration: none;
}

.cookie-popup-actions {
  flex: 1;
  text-align: right;
}

.cookie-popup-actions button {
  color: orange;
  border: none;
  background: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0;
  cursor: pointer;
}

.cookie-popup-actions button:hover {
  text-decoration: underline;
}

@keyframes cookie-popup-in {
  from {
    bottom: -6.25rem;
  }
  to {
    bottom: 1.25rem;
  }
}
body {
  background-color: #e0dde4;
  color: #000;
  overflow: hidden;
  height: 100vh;
}

#smooth-wrapper {
  margin: 0 auto;
}

nav {
  margin-top: 0;
}

#nav {
  position: fixed;
  z-index: 2;
  mix-blend-mode: difference;
}

.menu-icon {
  justify-content: end;
  mix-blend-mode: difference;
}

.menu-icon a {
  position: fixed;
}

.wrap {
  margin-top: 1vw;
}
@media (max-width: 1023px) {
  .wrap {
    margin-top: 1.5vw;
  }
}
@media (max-width: 767px) {
  .wrap {
    margin-top: 4vw;
  }
}

@media (max-width: 1023px) {
  .desktop__version {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop__version {
    display: none;
  }
}

@media (min-width: 1441px) {
  .mobile__version {
    display: none;
  }
}

.section_1 {
  height: 100vh;
}

#title {
  height: 100vh;
}

@media (max-width: 1023px) {
  .section__2 {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .section__2 {
    margin-top: 100px;
  }
}

.display__flex {
  display: flex;
  margin: 0 auto;
}

.img__horizontal {
  max-width: 580;
  max-height: 400px;
  object-fit: contain;
}

.img__vertical {
  max-width: 390;
  max-height: 700px;
  object-fit: contain;
  margin: 20px;
}

.bloc__img_1 {
  margin-top: -100px;
}

.bloc__img_1, .bloc__img_2 {
  text-align: left;
}

.main h1 {
  font-size: 10vw;
}

.main h2 {
  font-size: 2vw;
}

main p {
  font-size: 1vw;
}